/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* GENERAL */
body {
    font: 14px/24px Arial, Helvetica, sans-serif;
    color: #bab9b9;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #48474d;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.2em;

}

a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: 'PT Sans', 'arial', sans-serif;
}

a:hover, .currentLink, .biarqColor {
    color: #8dbf41;
}

.clear {
    clear: both
}

.pullLeft {
    float: left;
}

.margRight50 {
    margin-right: 50px;
}

p {
    line-height: 2em;
}

/* HEADER */

.header {
    padding-top: 5px;
    height: 520px;
    width: 100%;
    background: #000000 url('img/image-slider-3.jpg') center center no-repeat
}

.bigHeader {
    height: 520px;

}

.smallHeader {
    height: 220px;
    background: #000000 url('img/image-slider-1.jpg') center 0 no-repeat;
}


.bigHeader .bigHeaderContent {
    display: block;
}

.smallHeader .bigHeaderContent {
    display: none;
}

.logoBiarq {
    display: none;
}

.headerContent {
    max-width: 1170px;
    margin: 0 auto;
}

.headerLogoWrp {
    margin: 0 auto;
    padding-top: 60px;
    width: 350px;

}

/* HEADER SE FOR NUMA RESOLUÇAO GRANDE*/
@media (min-width: 768px) {
    .header {
        padding-top: 5%;
        background-size: 100%;

    }

    .headerLogoWrp {
        float: left;
        padding-top: 0 !important;
    }

}

.headerLogoImg {
    width: 350px;
    height: 150px;
    background-image: url('img/headerLogo.png');
    background-size: 100%;
    display: block;
}

.menus {
    float: left;
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.menuWrp {

    margin: 2px 10px;
    display: inline-block;
}

.menuLinkAnim1, .menuLinkAnim2 {

    transition: all 0.6s;
    border-top: 2px dotted #8dbf41;
    height: 5px;
    opacity: 0;
    width: 1px;

}

.menuWrp:hover .menuLinkAnim1, .menuWrp:hover .menuLinkAnim2 {
    transition: all 0.6s;
    opacity: 1;
    width: 95%;
}


@media (min-width: 768px) {
    .menuWrp {

        margin: 2px 10px;
        float: left;
        width: auto;
    }

    .menuWrp:hover .menuLinkAnim1 {
        transition: all 0.2s;
        width: 90%;
    }

    .menuWrp:hover .menuLinkAnim2 {
        transition: all 0.2s;
        width: 50%;
    }

    .menuLinkAnim1, .menuLinkAnim2 {
        transition: all 0.2s;
        margin: 0 auto;
        border-top: 2px dotted #8dbf41;
    }
}

.menuBtn {
    border: 1px solid #999999;
    border-radius: 3px;
    float: right;
    width: 40px;
    height: 25px;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

.slashMenuBtn {
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    margin: 5px 10px;
}

/* MENU -- SE FOR NUMA RESOLUÇÃO MAIOR */
@media (min-width: 990px) {

    .menus {
        float: right;
        margin-top: 70px;
        display: block;
        width: auto;
        background-color: transparent;
    }

    .menuBtn {
        display: none;
    }

}

/* FOOTER */
footer {
    padding: 40px;
    width: 100%;
    height: 100%;
    color: #344045;
    font: 15px/24px 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.footerContent {
    max-width: 1170px;
    margin: 0px auto;
}

.footerCopy {
    float: left;
}

.footerLogo {
    float: right;
}

footer a {
    color: #344045;
    text-transform: none
}

/* NG-VIEW CONTENT */
.viewContent {
    width: 100%;
    /*    max-width: 1170px;
        margin: 0 auto;
        padding: 50px 5px 50px 5px;
        box-sizing: border-box*/
}

/* NG-VIEW CONTENT SE FOR NUMA RESOLUÇÃO MAIOR*/
@media (min-width: 768px) {
    .viewContent {
        padding: 50px 0 50px 0;
    }

}

/* CONTACTS -- MOBILE FIRST*/

/* CONTACTS GOOGLE MAP*/
.googleMapWrp {
    margin-bottom: 50px;
}

/* CONTACTS FORM */
.contactsWrp form input, .contactsWrp form textarea {
    width: 100%;
    border: 1px solid #555555;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* TO DO :: JQUERY :: NEEDS IE WORKAROUND*/
/* TO DO :: CSS :: NEEDS OTHER BROWSERS */
.contactsWrp form ::-webkit-input-placeholder {
    /*color: #bab9b9;*/
    font-size: 14px;
}

.contactsWrp form textarea {
    height: 200px;
}

.contactsFormWrp {
    float: none;
    width: 100%;
}

.contactsFormWrp p:first-child input {
    margin-left: 0;
}

/* CONTACTS FORM SEND BTN */
.mainBtn {
    margin-top: 30px;
}

.mainBtn a {
    padding: 15px 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: #344046;
    transition: background-color 1s;
}

.mainBtn a:hover {
    background-color: #8dbf41;
    transition: background-color 1s;
}

/* CONTACTS MAP */
.angular-google-map-container {
    height: 400px;
}

/* CONTACTS ADDRESS */
.title2 {
    color: #8dbf41;
    font-size: 20px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.contactsInfoWrp {
    float: none;
    width: 100%;
    margin-bottom: 50px;
}

/* CONTACTS SE FOR NUMA RESOLUÇÃO GRANDE*/
@media (min-width: 768px) {
    .contactsInfoWrp {
        float: left;
        width: 35%;
    }

    .contactsFormWrp {
        float: left;
        width: 65%;
    }

    .contactsWrp .contactsFormWrp input {
        width: 32%;
        float: left;
        margin: 0 0 10px 2%;
    }

    .contactsWrp form input, .contactsWrp form textarea {
        border-color: #eaecec;
    }

}

/* PORTFOLIO */
.pWrp {
    width: 100%;
    margin-bottom: 60px;
}

.pImgWrp {
    width: 100%;
    position: relative;

}

@media (min-width: 768px) {
    .pWrp {
        width: 31.5%;
        float: left;
        margin: 0 10px 60px 10px;

    }

}

.pImgLink {
    width: 100%;
    height: 98%;
    display: block;
    position: absolute;
    transition: all 0.6s;
}

.pImgWrp:hover .pImgLink {
    background-color: #8dbf41;
    transition: all 0.6s;
    opacity: 0.8;
}

.pImg {
    width: 100%;
    height: 100%;
}

/* PORTOFLIO IMG SE FOR NUMA RESOLUÇÃO GRANDE */
@media (min-width: 768px) {
    .pImg {
        max-height: 200px;

    }

}

/* BOLAS EXPERIENCES*/
.bolasWrp {
    width: 86px;
    height: 24px;
    margin: 0 auto;
    padding-top: 25%;
}

.pImgWrp:hover .bola {
    width: 24px;
    height: 24px;
    margin: 2px;
    opacity: 1;
    border-radius: 25px;
    float: left;
    background-color: #ffffff;
    transition: all 0.4s;
}

/* PROJECT DESCRIPTION*/

.pDesc {

    height: 4.5em;
    overflow: hidden;
}

.pWrp:last-of-type {
    background-color: lime;
    padding: 10px;
}

.pWrp .title2 {
    margin: 20px 0;
}

/* PROJECT BTN SE FOR NUMA RESOLUÇAO GRANDE */
@media (min-width: 768px) {
    .pWrp .mainBtn {
        margin-bottom: 50px;
    }
}

/* VIEW SPECIFI PROJECT*/
.verImgWrp {
    padding-top: 40px;
    width: 100%;
}

/* VIEW SPECIFI PROJECT SE FOR NUMA RESOLUÇAO MAIOR*/
@media (min-width: 768px) {

    .verProjImgWrp, .verProjTxtWrp {
        width: 800px;
        margin: 0 auto;
    }

    .verProjTxtWrp {
        margin-top: 30px;
    }
}

/* ABOUT PAGE */
.aboutImg {
    margin: 40px 0;
    width: 100%;
    height: 300px;
    max-width: 600px;
    background: url('img/bruno.jpg');

}

/*HOME*/

/* PROJECT AREA -- HOME*/
/*O overlay no hover passa a ser transparente em vez de verde*/
.homeProjectArea .pImgWrp:hover .pImgLink {
    background-color: transparent;
    transition: all 0.6s;
}

/*No overlay no hover as bolas brancas passam a ter uma borda*/
.homeProjectArea .pImgWrp:hover .bola {
    border: 3px solid #eeeeee;
    box-sizing: border-box;
}

.homeDeepAreaWrp {
    width: 100%;
    background-color: #f5f5f5;
    padding: 50px 0;

}

.homeCompetenciasAreaWrp {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0;
}

.homeDeepAreaContent, .homeProjectArea, .homeCompetenciasAreaContent, .pageAreaWrp {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 5px 50px 5px;
    box-sizing: border-box;

}

.homeProjectArea, .homeCompetenciasAreaContent {
    padding-bottom: 0;
}

/*HOME -- COMPETENCIAS AREA -- EXP  */
.exp {
    display: inline-block;
    width: 20px;
    height: 16px;
    /*background-color: #8dbf41;*/
    background: url('/img/bq.png') center center;
    margin-right: 8px;
}

.homeCompetenciasAreaContent .title2 {
    color: #48474d;
}

.homeCompetenciasAreaContent h2 {
    color: #bab9b9;
}

#homeImgTitleArea, .bolasHeaderSliderWrp, .bolaHeaderSlider {
    display: none;
}

@media (min-width: 960px) {
    #homeImgTitleArea {
        display: block;
        width: 960px;
        margin: 0 auto;
        padding-top: 40px;
        height: 120px;

        font-size: 60px;
        line-height: 70px;
        color: #ffffff;
        text-align: center;
        font-weight: 100;
        text-transform: uppercase;

    }

    .bolasHeaderSliderWrp {
        display: block;
        width: 120px;
        height: 20px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .bolaHeaderSlider {
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px;
        border-radius: 20px;
        float: left;
        background-color: transparent;
        border: 1px solid #8dbf41;
    }

    .bolaHeaderSlider:hover {
        background-color: #8dbf41;
        cursor: crosshair;
    }

}

/*#spinner {
    display: none;
}*/

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;

}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;

}

.slide-pop.ng-enter,
.slide-pop.ng-leave {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.slide-pop.ng-enter {
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
}
.slide-pop.ng-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.slide-pop.ng-leave {
    left: 0;
    opacity: .5;
}
.slide-pop.ng-leave-active {
    left: -100%;
    opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
    opacity: .5;
    left: -100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
    opacity: 1;
    left: 0;
}
.reverse .page.slide-pop.ng-leave {
    opacity: .5;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    left: 0;
    right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
}


/* GALERIA DO MARCELO*/
/*Arrow Navigator Skin Begin */

     /* jssor slider arrow navigator skin 05 css */
     /*
     .jssora05l              (normal)
     .jssora05r              (normal)
     .jssora05l:hover        (normal mouseover)
     .jssora05r:hover        (normal mouseover)
     .jssora05ldn            (mousedown)
     .jssora05rdn            (mousedown)
     */
 .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
 {
     position: absolute;
     cursor: pointer;
     display: block;
     background: url(../img/a17.png) no-repeat;
     overflow:hidden;
 }
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }


     /* jssor slider thumbnail navigator skin 01 css */
     /*
     .jssort01 .p           (normal)
     .jssort01 .p:hover     (normal mouseover)
     .jssort01 .pav           (active)
     .jssort01 .pav:hover     (active mouseover)
     .jssort01 .pdn           (mousedown)
     */
 .jssort01 .w {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
 }

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(../img/t01.png) center center;
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 68px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
}


/* passagem de css inline do codigo da galeria para classes aqui*/
.sliderContainer {
    /*position: relative; top: 0px; left: 0px;*/
    position: relative;
    margin:0 auto;
   /* width: 100%;*/
    /*max-width: 800px;*/
    width: 800px;
    height: 456px;
    background: #191919;
    overflow: hidden;
    box-shadow: -10px -10px 20px #888888;
    box-sizing: border-box;
}

.sliderContainerChild1 {
    position: absolute; top: 0px; left: 0px;
}

.sliderContainerChild2 {
    filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
    background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;
}


.sliderContainerChild3 {position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
top: 0px; left: 0px;width: 100%;height:100%;}


.sliderContainerChild4{
    cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 356px; overflow: hidden;
}


.sliderContainerChild5{
    position: absolute; width: 800px; height: 100px; left:0px; bottom: -13px;

}

.sliderContainerChild6{
    position: absolute; width: 72px; height: 72px; top: 0; left: 0;
}