
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div  ng-controller="headerCtrl">

    <div ng-controller="proposta2Ctrl">




    <div id="headerF">

        <div class="headerContent">

            <!-- NAV MENU BTN -->
            <div class="menuBtn" ng-click="toggle()" title="Menu">
                <div class="slashMenuBtn"></div>
                <div class="slashMenuBtn"></div>
                <div class="slashMenuBtn"></div>
            </div>

            <!-- LOGO -->
            <div class="headerLogoWrp">
                <a href="#/home" title="Biarq Home" class="headerLogoImg">
                    <h1 class="logoBiarq">
                        Biarq Arquitectura e Remodelações
                    </h1>
                </a>
            </div>

            <!-- NAV MENU -->
            <div id="navMenuWrp">
                <div class="navMenuAlign">
                    <!-- NAV MENU ITEMS -->
                    <div class="navMenuItem" ng-repeat="menu in mainMenu">
                        <div><a href="{{menu.link}}"title="{{menu.nome}}" ng-click="toggle()">{{menu.nome}} </a></div>
                        <div class="menuLinkAnim1"></div>
                        <div class="menuLinkAnim2"></div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clear"></div>
            </div>
            <!-- end NAV MENU -->


            <!-- HOME BIG HEADER SLOGAN (only visible in HOME) -->
            <div class="bigHeaderContent">
                <div id="homeImgTitleArea">
                    <h2> Paixão pela arquitectura este é o teste 4</h2>
                </div>

                <div style="text-align: center; margin: 60px 0 120px 0">

                <div class="rectanguloHeaderHome">
                    SABER MAIS
                </div>
                </div>

                <div class="bolasHeaderSliderWrp">
                    <div class="bolaHeaderSlider"></div>
                    <div class="bolaHeaderSlider"></div>
                    <div class="bolaHeaderSlider" style="background-color: #ffffff; border-color:#ffffff"></div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- end HOME BIG HEADER SLOGAN -->

        </div>

    </div>




</div>
    </div>



    <div  class="viewContent question slide-pop">

        <!-- HOME -- PROJECT AREA -->
        <div class="homeProjectArea" ng-controller="portfolioCtrl" style="margin-top: 60px">











            <!-- PROJECT -->
            <div class="pWrp" data-ng-repeat="proj in projectos|limitTo:3">

                <!--PPROJECT IMAGE -->
                <div class="pImgWrp  pImgWrp2">
                    <a class="pImgLink" href="#/{{proj.url('portfolio')}}" title="{{proj.titulo}}">
                        <!-- BOLAS BRANCAS -->
                        <div class="bolasWrp">
                            <div class="bola"></div>
                            <div class="bola"></div>
                            <div class="bola"></div>
                            <div class="clear"></div>
                        </div>
                    </a>

                    <!-- PROJECT IMG -->
                    <img data-ng-src="http://admin.biarq.com/img/projectos/grandes/{{proj.fotoprincipal}}" alt="{{proj.titulo}}" class="pImg">
                </div>


                <div class="testepcontentwrp">



                <!--PROJECT TITLE -->
                <p class="title2"> {{proj.titulo}} </p>


                <!--PROJECT DESCRIPTION -->
                <div class="pDesc">
                    <p ng-bind-html="proj.texto"></p>
                </div>

                <!--PROJECT BTN 'VER MAIS' -->
                <div class="mainBtn">
                    <a href="#/{{proj.url('portfolio')}}" title="Ver Mais">Ver Mais</a>
                </div>

                </div>





            </div>

            <div class="clear"></div>
        </div>
        <!-- END PROJECT AREA -->

        <!-- OTHER AREA -->
        <!--
        background-color: #f5f5f6"-->

        <!-- HOME -- DEEP SENTENCE AREA -->
        <div class="homeDeepAreaWrp">
            <div class="homeDeepAreaContent" style="text-align: center">
                <h2> Inventa algo para aqui </h2>
                <p> A arquitectura é uma arte, mas, mais do que isso, é a única vertente da arte que se alia à ciência. A ciência do espaço… Veja o seu projecto tratado com o respeito e atenção que ele merece. Visite o portfólio, deixe a sua opinião, e peça um orçamento gratuito e sem compromisso…</p>
            </div>
        </div>


        <div class="homeCompetenciasAreaWrp">
            <div class="homeCompetenciasAreaContent">
                <h2 style="margin-bottom: 70px"> Áreas de Competência</h2>



                <div class="pullLeft" style="margin-right: 50px">
                    <p class="title2"> <span class="exp"> </span> Arquitectura</p>
                    <p  class="title2"> <span class="exp"> </span> Projectos S.C.I.E.</p>
                    <p class="title2"><span class="exp"> </span>Licenciamentos</p>
                    <p class="title2"><span class="exp"> </span>Legalizacoes</p>
                </div>

                <div class="pullLeft" style="margin-right: 50px">
                    <p class="title2"><span class="exp"> </span>Modelação 3D</p>
                    <p class="title2"><span class="exp"> </span>Arquitecura de interiores</p>
                    <p class="title2"><span class="exp"> </span>Direcções Técnicas</p>
                    <p class="title2"><span class="exp"> </span>Reconstruções</p>
                </div>
                <div class="pullLeft">

                    <p class="title2"><span class="exp"> </span>Levantamentos Topograficos</p>
                    <p class="title2"><span class="exp"> </span>Serviços de Consultoria</p>
                    <p class="title2"><span class="exp"> </span>Projecto comportamento térmico</p>
                </div>

                <div class="clear"></div>


            </div>



        </div>






    </div>


<div class="footerTeste">
    <div class="footerContent">
        <div class="footerCopy">
            <span class="biarqColor"> BIARQ </span> &copy; 2014. All rights reserved.
            Powered by <a href="#" title="SyncIM"> SyncIM </a> | Tel: +351.960021911
        </div>
        <div class="footerLogo">
            <img src="img/headerLogo.png" style="width: 230px">
        </div>
        <div class="clear"></div>
    </div>
</div>



