
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="foda"  ng-controller="headerCtrl">


    <div class="header" style="height: 200px">

        <div class="headerContent">

            <!-- NAV MENU BTN -->
            <div class="menuBtn" ng-click="toggle()" title="Menu">
                <div class="slashMenuBtn"></div>
                <div class="slashMenuBtn"></div>
                <div class="slashMenuBtn"></div>
            </div>

            <!-- LOGO -->
            <div class="headerLogoWrp">
                <a href="#/home" title="Biarq Home" class="headerLogoImg">
                    <h1 class="logoBiarq">
                        Biarq Arquitectura e Remodelações
                    </h1>
                </a>
            </div>

            <!-- NAV MENU -->
            <div id="navMenuWrp">
                <div class="navMenuAlign">
                    <!-- NAV MENU ITEMS -->
                    <div class="navMenuItem" ng-repeat="menu in mainMenu">
                        <div><a href="{{menu.link}}"title="{{menu.nome}}" ng-click="toggle()">{{menu.nome}} </a></div>
                        <div class="menuLinkAnim1"></div>
                        <div class="menuLinkAnim2"></div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clear"></div>
            </div>
            <!-- end NAV MENU -->




        </div>

    </div>


    <div  class="viewContent question slide-pop">




<!-- VIEW SPECIFIC PROJECT PAGE WRAP -->
<div class="pageAreaWrp" ng-cloak>




    <!-- Jssor Slider Begin -->
    <div id="slider1_container" class="sliderContainer">
        <!-- Loading Screen -->
        <div u="loading" class="sliderContainerChild1">
            <div class="sliderContainerChild2">
            </div>
            <div class="sliderContainerChild3">
            </div>
        </div>
        <!-- Slides Container -->
        <div u="slides"  class="sliderContainerChild4">
            <div  ng-repeat="foto in projecto.foto">
                <img u="image" ng-src="http://admin.biarq.com/img/projectos/grandes/{{foto}}" />
                <img u="thumb" ng-src="http://admin.biarq.com/img/projectos/pequenas/{{foto}}" />
            </div>

        </div>
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 158px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 158px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->

        <!-- Thumbnail Navigator Skin Begin -->
        <div u="thumbnavigator" class="jssort01 sliderContainerChild5">
            <div u="slides" style="cursor: move;">
                <div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
                    <div class=w><thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate></div>
                    <div class=c>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Thumbnail Navigator Skin End -->

    </div>
    <!-- Jssor Slider End -->


    <p class="title2" style="text-align: center; padding: 40px 0 0 0"> {{projecto.titulo}}</p>

    <div class="verProjTxtWrp">
        <p ng-bind-html="projecto.texto"></p>
    </div>

</div>


    </div>
    </div>


    <footer>
        <div class="footerContent">
            <div class="footerCopy">
                <span class="biarqColor"> BIARQ </span> &copy; 2014. All rights reserved.
                Powered by <a href="#" title="SyncIM"> SyncIM </a> | Tel: +351.960021911
            </div>
            <div class="footerLogo">
                <img src="img/footerLogo.png">
            </div>
            <div class="clear"></div>
        </div>
    </footer>



